@media (max-width: 1440px) {
  .hero {
    background-position: calc(100% + 400px) top;
  }

  .auction-bet-section__props {
    flex-direction: column;
  }

  .auction-bet {
    margin-right: 0;
    margin-bottom: var(--gap);
  }

  .subscribe__container {
    background-position: calc(100% + 400px) center;
  }

  .new__stickers {
    justify-content: center;
  }

  .new__stickers picture:not(:last-child) {
    margin-right: 19px;
  }

  .top-info {
    background-position: calc(100% - 60px) center;
  }
}

@media (max-width: 1024px) {
  .hero {
    background-position: calc(100% + 610px) top;
  }

  .container {
    padding: 0px 36px;
  }

  .hero__title {
    margin-bottom: 44px;
  }

  .auction-bet-section {
    padding-top: 93px;
  }

  .auction-bet-section__image {
    margin-right: var(--gap);
  }

  .auction-bet {
    margin-bottom: 36px;
  }

  .auction {
    padding-top: 52px;
    padding-bottom: 92px;
  }

  .auction__item:nth-last-child(-n + 2) {
    display: none;
  }

  .auction__item {
    width: calc((100% - (var(--gap) * 2)) / 3);
  }

  .auction__item:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .auction__item:not(:nth-child(3n)) {
    margin-right: 29px;
  }

  .auction-card__image {
    padding-bottom: 10px;
  }

  .new {
    padding-top: 91px;
  }

  .subscribe__container {
    padding-top: 26px;
    padding-bottom: 29px;
    background-image: url("../img/subscribe-tablet.png");
    background-position: calc(100% - 36px) center;
    background-repeat: no-repeat;
  }

  .subscribe__title {
    margin-bottom: 36px;
  }

  .become-author {
    padding-bottom: 92px;
  }

  .become-author__text {
    margin-right: 0;
    margin-bottom: 38px;
    width: 100%;
  }

  .become-author__content {
    display: block;
  }

  .become-author__descr {
    padding-right: 0;
    max-width: 788px;
  }

  .become-author__decorate {
    display: none;
  }

  .become-author__form {
    --size-limiter: 624px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    width: 100%;
    background-image: url("../img/become-author-tablet.png");
    background-repeat: no-repeat;
  }

  .become-author__file {
    max-width: var(--size-limiter);
  }

  .become-author__input {
    max-width: var(--size-limiter);
  }

  .become-author__wrap {
    width: 100%;
    max-width: var(--size-limiter);
  }

  .top {
    padding-bottom: 54px;
  }

  .top-info {
    padding-bottom: 33px;
    background-position: calc(100% - 36px) center;
  }

  .top__item {
    margin-bottom: 36px;
  }

  .footer__top {
    padding-top: 21px;
    padding-bottom: 12px;
  }

  .footer__bottom {
    padding-bottom: 6px;
  }
}

@media (max-width: 992px) {
  .hero__title {
    font-size: 60px;
  }

  .hero__buttons {
    max-width: 400px;
  }

  .hero__btn {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .auction-timer {
    background-image: none;
  }

  .become-author__form {
    --size-limiter: 400px;
    background-size: 250px auto;
  }

  .auction-bet-section__image {
    min-width: auto;
    width: 300px;
  }

  .auction-bet-section__info {
    width: calc(100% - 300px - 27px);
  }

  .auction-card__title {
    font-size: 17px;
  }

  .auction-card__timer {
    font-size: 14px;
  }

  .subscribe__container {
    background-position: right calc(100%);
    background-size: 300px;
  }

  .top-product {
    min-height: 140px;
  }

  .top-product__image {
    height: 100%;
    padding: 0px;
  }

  .top-product__title {
    font-size: 32px;
    line-height: 40px;
  }

  .top-info {
    background-image: none;
  }

  .file__input {
    max-width: 10px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-bottom: 0;
  }

  .header__container {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header__nav {
    border-top: 1px solid #c4c4c4;
    padding: 10px 0;
    margin-top: 20px;
    margin-right: 0;
    width: 100%;
    order: 3;
  }

  .header__nav .nav__list {
    justify-content: center;
  }

  .header__container {
    padding: 0;
  }

  .header__logo {
    margin-left: 36px;
  }

  .header__btn {
    margin-right: 36px;
  }

  .hero {
    background-image: none;
  }

  .hero__title {
    font-size: 56px;
    line-height: 70px;
  }

  .auction-bet-section__content {
    display: block;
  }

  .auction-bet-section__info {
    width: 100%;
  }

  .auction-bet-section__image {
    margin-right: 0;
    margin-bottom: var(--gap);
  }

  .auction__item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .auction__item:not(:nth-child(2n)) {
    margin-right: var(--gap);
  }

  .auction__item:nth-last-child(-n + 2) {
    display: none;
  }

  .auction__item {
    width: calc(((100% - (var(--gap))) * 1) / 2);
  }

  .new__title {
    font-size: 45px;
  }

  .subscribe__container {
    background-image: none;
  }

  .become-author__form {
    --size-limiter: none;
    background-image: none;
  }

  .top-product {
    flex-direction: column;
    height: 100%;
  }

  .top-product__image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    margin-right: 0;
    height: 132px;
    font-size: 0;
  }

  .top-product__info {
    padding: 16px;
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }

  .hero__title {
    font-size: 35px;
    line-height: 50px;
  }

  .title {
    font-size: 30px;
    line-height: 36px;
  }

}
